<footer>
  &copy; <%= date(new Date(), 'YYYY') %>
  <span class="author">
    <%= config.author || '' %>
  </span>
   / Documentation licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
  </span>
</footer>