.post {
  padding: 0 20px;
  margin-bottom: 1.5em;

  h2 {
    border-bottom: 1px solid #d6d6d6;
	padding: 0 0 3px;
  }
  
  img {
    max-width: 100%;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;

    td, th {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
  }

  hr {
    margin: 1.5em 0;
  }

  .post-content {
    text-align: justify;
    
    a {
      border-bottom: 1px dotted;

      &:hover {
        border-bottom: 1px solid;
      }
    }

    ul, ol {
      text-align: left;

      li {
        padding: 5px;
        line-height: 1.5em;
      }
    }
  }

  figure {
    margin: 0;
    overflow: auto;
    table {
      width: 100%;
      
      .code {
        border: 0;
        padding: 0;
      }
    }

    .gutter {
      margin: 0;
      padding: 0;
      width: 1px;
      border: 0
      display: none;
    }
  }

  blockquote {
    margin: 0;
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
  }

  pre {
    margin: 0;
    padding: .5em 1.5em;
    overflow: auto;
    font-size: 85%;
    line-height: 1.8;
    background-color: #f7f7f7;
	  font-family: Monaco,Menlo,Consolas,Courier New,monospace
	  
	  code {
      font-size: 100%;
      font-family: Monaco,Menlo,Consolas,Courier New,monospace
	  }
  }

  .code {
    background: #f7f7f7;
    font-family: inherit;
  }

  p {
    line-height: 1.8em;
    word-break: normal
    code {
      background-color: #f0f0f0;
      padding: .15em .35em .05em;
      border-radius: .25em;
      font-family: Monaco,Menlo,Consolas,Courier New,monospace
    }
  }

  pre .comment,pre .title {
    color: #8e908c
  }
  
  pre .attribute,pre .css .class,pre .css .id,pre .css .pseudo,pre .html .doctype,pre .regexp,pre .ruby .constant,pre .tag,pre .variable,pre .xml .doctype,pre .xml .pi,pre .xml .tag .title {
      color: #c82829
  }
  
  pre .built_in,pre .constant,pre .literal,pre .number,pre .params,pre .preprocessor {
      color: #f5871f
  }
  
  pre .class,pre .css .rules .attribute,pre .header,pre .inheritance,pre .ruby .class .title,pre .ruby .symbol,pre .string,pre .value,pre .xml .cdata {
      color: #718c00
  }
  
  pre .css .hexcolor {
      color: #3e999f
  }
  
  pre .coffeescript .title,pre .function,pre .javascript .title,pre .perl .sub,pre .python .decorator,pre .python .title,pre .ruby .function .title,pre .ruby .title .keyword {
      color: #4271ae
  }
  
  pre .javascript .function,pre .keyword {
      color: #8959a8
  }

  .post-footer {
    line-height: 1;
    min-height: 1em;

    .top {
      float: right;
      color: #666;

      &:hover {
        color: #000;
      }
    }

    .post-tag-list {
      display: inline-block;
      padding: 0;
      margin: 0 0 0.5em 0;
      color: #999;

      .post-tag-list-item {
        display: inline-block;
        margin: 0 1em 0 0;

        a {
          font-size: 85%;
        }

        &:before {
          content: '#';
        }

      }
    }
  }
}
