body {
  margin: 0;
}

html, body, .container {
  height: 100%;
  font-family: Hiragino Sans GB, Microsoft YaHei, WenQuanYi, Airal, sans-serif;
  color: #444;
}

.container {
  max-width: 840px;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}

.page {
  margin: 0 20px;
  margin-bottom: 2em;
  
  p {
    line-height: 1.5em;
  }
}

@import "_partial/header";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/paginator";
@import "_partial/footer";
