
.SandboxRoot.env-bp-660 .timeline-Tweet-text {
    font-size: 1.2em !important;
    line-height: unset !important;
    font-weight: unset !important;
}

.SandboxRoot.env-bp-660 .timeline-Header-title, .SandboxRoot.env-bp-820 .timeline-Header-title {
    font-size: 1.6em !important;
}